<!--
  PocketPaw Dashboard - Modals Wrapper

  Changes (2026-02-03):
  - Created to include all modal components
  - Individual modals split into modals/ subdirectory
-->
<!-- Modals Wrapper -->
{% include "components/modals/settings.html" %}
{% include "components/modals/screenshot.html" %}
{% include "components/modals/file_browser.html" %}
{% include "components/modals/reminders.html" %}
{% include "components/modals/intentions.html" %}
{% include "components/modals/skills.html" %}
{% include "components/modals/identity.html" %}
{% include "components/modals/memory.html" %}
{% include "components/modals/audit.html" %}
{% include "components/modals/remote.html" %}
